<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

  <servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>blog.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>BlogPost.html</welcome-file>
  </welcome-file-list>
	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>blog.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>/blog</url-pattern>
	</servlet-mapping>
  
	<servlet>
		<servlet-name>CronServlet</servlet-name>
		<servlet-class>blog.CronServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CronServlet</servlet-name>
		<url-pattern>/cronblog</url-pattern>
	</servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>blog.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>SubscribeServlet</servlet-name>
		<servlet-class>blog.SubscribeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubscribeServlet</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>blog.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>UnsubscribeServlet</servlet-name>
		<servlet-class>blog.UnsubscribeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UnsubscribeServlet</servlet-name>
		<url-pattern>/unsubscribe</url-pattern>
	</servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>blog.jsp</welcome-file>
	</welcome-file-list>

</web-app>